body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  width: 100%;
  position: sticky;
  
}